@import "./reset.css";
@import "./share.css";

@font-face {
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

*{
    box-sizing: border-box;
}

@keyframes updown{
    0%{
        transform:translateY(1rem);
    }

    100%{
        transform:translateY(-1rem);
    }

}

@media(min-width:992px){
    .intro_container{
    max-width:960px;
}}

@media(min-width:1200px){
    .intro_container,.aboutus_container, .eum_container{
        max-width:1140px;
    }
}

@media(min-width:1400px){
    .intro_container,.aboutus_container, .eum_container{
        max-width:1320px;
    }
}

.center-align{
    margin:0 auto;
    
}

.relative{
    position:relative;
}

.intro{
    background-color: var(--navy);
    display: flex;
    width:100%;
    height:80vh;
    padding:60px 0;
    align-items: center;

}

.intro_container{
    width: 100%;
    box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
}

.intro_row{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    box-sizing:border-box;
}

.intro_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
}

.intro_left h1{
    color: white;
    font-size:48px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    line-height: 56px;
    margin: 0 0 10px 0;
}

.intro_left h2{
    color:rgba(255, 255, 255, 0.6);
    font-size:24px;
    font-family: "Jost", sans-serif;
    line-height: 1.2;
    margin-bottom: 50px;
}

.intro_right{
    /* position:relative; */
    width:50%;
    animation:updown 3s ease-in-out infinite alternate-reverse both ;
   
}
.intro_right>img{
    max-width: 100%;
} 

.intro_buttons{
    display: flex;
    color:white;
    font-size: 1.2rem;
    font-weight: 500;
}

#getstarted{
   
    background-color: var(--skyblue);
    border-radius: 50px;
    padding: 13px 28px;
    letter-spacing: 1px;
    margin-top: 10px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.watchvideo{
    margin: 10px 0 0 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.watchvideo i{
    font-size: 32px;
    margin-right: 8px;
}

.company{
    width:100%;
    height:102px;
    margin-left:auto;
    margin-left:auto;
    display: flex;
    
}

.company .bar{
    width:100%;
    height:102px;
    
    background-color: var(--bg_gray);
   
    gap:2rem;
}

.company .bar .list{
    display:flex;
    width:100%;
    display: inline-block;
    margin-left:auto;
    margin-left:auto;
    justify-content: center;
}

.company .bar ol{
    list-style: none;
    height:50px;
    display: flex;
   
    margin-top:30px;
    padding-left:0;
    justify-content: center;


}
.company .bar li{
   margin-right: 88px;
    width:5rem;
    object-fit: cover;
    padding-top:1rem;
    justify-content: center;
    
}

.company .bar li> img{
   
    max-width:100%;
    
    object-fit:cover;
    transition:all ease-in-out 0.5s;
    filter:grayscale(100);
    
    
}

.company .bar li> img:hover{
    filter:none;
    transform:scale(1.1);
    
}

.aboutus{
    width:100%;
    height:350px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    display: inline-block;
}

.aboutus_container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.aboutus_container .p1{
    height:108px;
    flex-direction: column;
    box-sizing: border-box;
}

.aboutus_container .p2{
    height:172px;
    display:flex;
    box-sizing: border-box;
}

.aboutus .title{

    height:108px;
    margin-top:30px;

}

#aboutus h1{
    font-size:32px;
    font-weight:bold;
    color:var(--navy);
    font-family: 'Jost', sans-serif;
    text-align:center;
   
}
#aboutus h1::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: -50px;
    left: calc(50% - 60px);
}

#aboutus h1::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: -51px;
    left: calc(50% - 20px);
}


.aboutus .title .underline{
    background-color: gray;
}


.p2 .paragraph1{
    width:50%;
}

.p2 .paragraph2{
    width:50%;
}

.p2{
    
}

#id{
    list-style: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
}

.paragraph1 .c1{
    padding-bottom: 10px;   
    line-height: 1.5;
}

.c1,.check{
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444;
}

.check li{
    margin-top:5px;
    margin-bottom:15px;
}

.check i{
    color: #47b2e4;
}

.paragraph2 .c1{
    margin-bottom:20px;
}


#learnmore{
    display: inline-block;
    margin-top:6px;
    border-style: solid;
    border-width: 2px;
    border-color:var(--skyblue);
    border-radius: 4px;
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;

    color:var(--skyblue);
    padding: 12px 32px;
}

#learnmore:hover{
    background-color: var(--skyblue);
    color:white;
    transition:ease-in-out 0.5s;
}

.eum{
    padding: 60px 0;
    overflow: hidden;
    background-color:var(--bg_gray);
}

.eum_container{
    width:100%;
    /* height:509px; */
    box-sizing: border-box;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-between;
}

.eum_explain{
    position: flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding-right: 100px;
    width: 60%;  
}

.eum_title{
    color:var(--navy);
    font-size:34px;
    font-family: 'Jost', sans-serif;
    margin-bottom:10px;
    line-height: 1.2;
}

.eum_subtitle{
    color:#848484;
    font-size:15px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom:10px;
    font-family: 'Open Sans', sans-serif;
}

.eum_list{
    /* height:70%; */
}

.l01:hover{
    color:var(--skyblue);
}

.l02:hover{
    color:var(--skyblue);
}
.l03:hover{
    color:var(--skyblue);
}
.l01, .l02, .l03{
    background-color: white;
    border-radius: 4px;
    padding:20px;
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 15px;
}

.l01,.l02, .l03>a{
    color:#343a40;
}

.is{
    display: inline-block;
    position: absolute;
    right:20px;
}

.eum_img{
    width:40%;
    background-image: url(./eum.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}