@import "./reset.css";

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}




.section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title h2::after, ::before {
    box-sizing: border-box;
}

section {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container aos-init aos-animate{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    max-width: 960px;
    max-width: 720px;
    max-width: 540px;
}

.pricing .box {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgb(20 45 100 / 10%);
    background: #fff;
    height: 100%;
    border-top: 4px solid #fff;
    border-radius: 5px;
}

div {
    display: block;
}

.pricing h3 {
    font-weight: 500;
    margin-bottom: 44px;
    font-size: 20px;
    color: #37517e;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.pricing h4 sup {
    font-size: 28px;
}

sup {
    top: -0.5em;
}

sub, sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.pricing h4 span {
    color: #47b2e4;
    font-size: 18px;
    display: block;
}

.pricing ul {
    padding: 20px 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol, ul {
    padding-left: 2rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.pricing .buy-btn {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    
}

.pricing ul i {
    color: #28a745;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 6px;
}

.fa-regular {
    
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pricing ul .na {
    color: #ccc;
}

.pricing ul li {
    padding: 10px 0 10px 30px;
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.pricing .featured .buy-btn {
    background: #47b2e4;
    color: #fff;
}

a {
    color: #47b2e4;
    text-decoration: none;
}

.pricing .row {
    padding-top: 40px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* .row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
} */

.pricing .featured {
    border-top-color: #47b2e4;
}

.section-bg {
    background-color: #f3f5fa;
}

.faq-list {
    padding: 0;
}

.faq-list {
    padding: 0 100px;
}

.faq-list ul {
    padding: 0;
    list-style: none;
}

.faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.fa-circle-question {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #47b2e4;
}

.fa-regular :before {
    content: "\eb0d";
}

.faq-list a.collapsed {
    color: #37517e;
    transition: 0.3s;
}

.collapse:not(.show) {
    display: none;
}

a:hover {
    color: #73c5eb;
    text-decoration: none;
}

a:hover {
    color: #0a58ca(--bs-link-hover-color);
}

a {
    color: #47b2e4;
    text-decoration: none;
}

a {
    color: #0a58ca(--bs-link-color);
    
}

.faq .faq-list a.collapsed {
    color: #37517e;
    transition: 0.3s;
}

.faq .faq-list a.collapsed .fa-chevron-down {
    display: inline-block;
}

.faq .faq-list .fa-chevron-down {
    display: none;
}

.faq .faq-list .icon-show, .faq .faq-list .fa-chevron-up {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}


.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.section-title p {
    margin-bottom: 0;
} 

.align-items-stretch {
    align-items: stretch!important;
}

.d-flex {
    display: flex!important;
}

@media (min-width: 992px){
.col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
}

.row>* {
    flex-shrink: 0;
    /* width: 100%; */
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.contact .info {
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}

.contact .info i {
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
}

element.style {
    border: 0;
    width: 100%;
    height: 290px;
}

.mt-lg-0 {
    margin-top: 0!important;
}

.align-items-stretch {
    align-items: stretch!important;
}

.d-flex {
    display: flex!important;
}

.col-lg-7 {
    flex: 0 0 auto;
    width: 54.33333333%;
}

.contact .php-email-form {
    width: 100%;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

form {
    display: block;
    margin-top: 0em;
}

.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

label {
    display: inline-block;
}

label {
    cursor: default;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.form-control {
    transition: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.contact .php-email-form label {
    padding-bottom: 8px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.text-center {
    text-align: center!important;
}

.contact .php-email-form button[type=submit] {
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

@media (min-width: 576px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
    { max-width: 540px; }
}


@media (min-width: 768px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl  
    {max-width: 720px; }
}

@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
    { max-width: 960px; }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
    { max-width: 1140px; }
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
    { max-width: 1320px; }
}


[data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: .1s;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-easing=ease-in-out], body[data-aos-easing=ease-in-out] [data-aos] {
    transition-timing-function:ease-in-out;
}

[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s;
}

[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,transform;
}

@media (min-width: 992px){
    .mt-lg-0 {
        margin-top: 0!important;
    }
}

[data-aos=fade-up] {
    transform: translate3d(0,100px,0);
}

@media (min-width: 992px){
    .col-lg-4 {
        flex: 0 0 auto;
        width: 31.33333333%;
    }
}

@media (min-width: 992px){
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}

@media (min-width: 992px){
    .col-lg-7 {
        flex: 0 0 auto;
        width: 54.33333333%;
    }
}

.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

[data-aos][data-aos][data-aos-easing=ease-in-out], body[data-aos-easing=ease-in-out] [data-aos] {
    transition-timing-function: ease-in-out;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s;
}
