header{
    
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 0.8;
}
header.header-scrolled{
    background: rgba(40, 58, 90, 0.9);
}
/* header > div{
    display: flex;
    
    
    flex-direction: row;
    gap:3rem;
    padding : 3px;
} */
header  .header-top{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 3px;
    color: white;
    background-color:#023b6d;
    justify-content: space-between;
}

header .header-top > img:hover{
    cursor: pointer;
    opacity: 1;

}

header .header-top > div> strong{
    font-size: 24px;
    opacity: 0.6;
}
header .header-top > div > strong:hover{
    transition: 0.6s;
    opacity: 1;
}

header > .header-top > h2{
    align-items: center;
}


header .header-second{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 72.5px;
    width: 100%;
    padding: 15px 42px;
    
    background-color: var(--navy)
}

/* header .header-second {
    
    flex-direction: row;
    gap: 5px;
    align-items: center!important;
    justify-content: space-between;
} */
header .header-second .logo{
    font-size: 30px;
    margin-right: auto!important;
    padding: 0;
    line-height: 1;
    width: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

header .header-second .logo:hover{
    cursor:pointer;
    
}

header .header-second .navbar{
    width: 980px;
    font-weight: bolder;
}

header .header-second .navbar > ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap:3px;
}

header .header-second .navbar > ul > li:hover{
    transition: 0.6s;
    color:var(--skyblue);
}
header .header-second > ul > a:last-child{
    border: 3px solid var(--skyblue);
   
    padding: 5px;
    border-radius: 30%;
    
}
header > div:nth-child(2) > a:last-child:hover{
    background-color: var(--skyblue);
    color:white;
}

footer .newsletter{
    display: flex;
    flex-direction: column;
    padding : 2rem;
    align-items: center;
    background-color: #f3f5fa;
    /* border: 1px solid black; */
}

footer .newsletter > h4{
    font-size: 24px;
    margin: 0 0 24px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color:rgba(55, 81, 126);
    
    
}
footer .newsletter > p{
    margin-top: 0;
    margin-bottom: 1rem;
}
footer .newsletter form{
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);;

}
footer .newsletter form > input[type=email]{
    border: 0;
    padding: 4px 8px;
    width: 500px;
    margin: 0;
}
footer .newsletter input[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    background-color: var(--skyblue);
    color: #fff;

    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);

}
footer .newsletter input[type=submit]:hover{
    background-color: #135b9a;
    transition: 0.6s;
    cursor:pointer;
}

#content-container {
    display: grid;
    border-bottom: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:3px;
    padding:1rem;
    background-color: white;
    overflow: none;
}

#content-container.content > #email{
    display: inline-block;
}
#content-container.content:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
#content-container.content > h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
}

#content-container.content > h3 > a:hover {
   
    color: var(--skyblue);
}


#bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:rgba(55, 81, 126);

}
#bottom .copyright > strong{
    font-weight: bolder;
}
#bottom .credits{
    float: right;
    font-size: 13px;
}
#bottom .credits > a{
    color: #47b2e4;
    transition: 0.3s;
}

#bottom .up{
    position: sticky;
    bottom: 0;
    z-index: 100;
    font-size: 20px;
    border:2px solid #47b2e4;
    text-align: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #47b2e4;
}
#bottom .up:hover{
    background-color: #54b8e6; ;
    transition: 0.6s;

}
#botom .up > a >p{
    margin-top: 30px;
    padding : 10px 0;
}