header{
    
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 0.8;
}
header > div{
    display: flex;
    
    border: 1px solid black;
    flex-direction: row;
    gap:3rem;
    padding : 3px;
}
header > #header-top{
    color: white;
    background-color: rgba(2, 59,109);
    justify-content: space-between;
}

header > #header-top > h2{
    align-items: center;
}


header > div:nth-child(2){
    align-items: center;
    color: white;
    height: 3rem;
    
    background-color: rgba(61, 77, 106);
}
header > div:nth-child(2) > a:hover{
    color:var(--skyblue);
}
header > div:nth-child(2) > a:last-child{
    border: 3px solid var(--skyblue);
   
    padding: 5px;
    border-radius: 30%;
    
}
header > div:nth-child(2) > a:last-child:hover{
    background-color: var(--skyblue);
    color:white;
}

footer .newsletter{
    display: flex;
    flex-direction: column;
    padding : 2rem;
    align-items: center;
    background-color: #f3f5fa;
    /* border: 1px solid black; */
}

footer .newsletter > h4{
    font-size: 24px;
    margin: 0 0 24px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color:rgba(55, 81, 126);
    
    
}
footer.newsletter.subscribe > input[type=email]{
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
    margin: 0;
}
.newsletter.subscribe input[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    background-color: var(--skyblue);
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    


}
.newsletter > #subscribe{
    display: flex;
    justify-items: center;
    
    
}


#content-container {
    display: grid;
    border-bottom: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:3px;
    padding:1rem;
    background-color: white;
    overflow: none;
}

#content-container.content > #email{
    display: inline-block;
}
#content-container.content:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
#content-container.content > h2 {
    
    padding: 1rem;
}
#content-container.content.contents > span{
    color : var(--skyblue);
}
#content-container.content > h3 > a:hover {
   
    color: var(--skyblue);
}


#bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 1rem;
    background-color:rgba(55, 81, 126);

}

#bottom > #up{
    background-image: url();
}